<%= month_calendar events: @writes do |date, writes| %>
  <%= link_to date.day, write_path(date) %>

  <% day_writes = writes.select { |write| write.start_time.to_date == date } %>
  <% has_star_icon = false %>
  <% day_writes.each do |write| %>
    <% if write.icon.present? && !has_star_icon %>
      <div>
        <%= link_to image_tag('star.png'), write_path(write) %>
      </div>
      <% has_star_icon = true %>
    <% end %>
  <% end %>
<% end %>