<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="writes.css">
    <title>ペット日誌</title>
  </head>

<body>
  <header>
    <div class="header">
      <div class="title">記録</div>
      <div class="header_button">
        <input type="image" src="image/time.png" alt="一覧へ"class="time_button">
        <input type="image" src="image/calender.png" alt="カレンダーへ"class="time_button">
      </div>
    </div>
  </header>



    <div class="writes_content">

      <div class="writes_content_top">
        <div class="icon_1">
          <input type="radio" name="must-button" value="ごはん" id="meal" checked><label for="meal">ごはん</label>
          <input type="radio" name="must-button" value="うんち" id="poop" checked><label for="poop">うんち</label>
          <input type="radio" name="must-button" value="おしっこ" id="pee" checked><label for="pee">おしっこ</label>
          <input type="radio" name="must-button" value="散歩" id="walk" checked><label for="walk">散歩</label>
        </div>

        <div class="icon_2">
          <input type="radio" name="must-button" value="嘔吐" id="vomit" checked><label for="vomit">嘔吐</label>
          <input type="radio" name="must-button" value="シャンプー" id="shampoo" checked><label for="shampoo">シャンプー</label>
          <input type="radio" name="must-button" value="トリミング" id="trimming" checked><label for="trimming">トリミング</label>
          <input type="radio" name="must-button" value="薬" id="medicine" checked><label for="medicine">薬</label>
        </div>
      </div>

      <form class="writes_content_bottom">
        <label class="writes_content_label">メモ
          <input type="text" class="memo"><br>
        </label>

        <label class="writes_content_label">日時
          <input type="datetime-local" class="date_time"><br>
        </label>

        <label class="writes_content_label">スケジュール
          <input type="text" class="schedule">
        </label>

        <input type="submit" value="ＯＫ！" class="send">
      </div>

    </div>
</body>

</html>