<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="writes.css">
    <title>ペット日誌</title>
  </head>

<body>
  <header>
    <div class="header">
      <div class="title">記録</div>
      <div class="header_button">
        <input type="image" src="image/time.png" alt="一覧へ"class="time_button">
        <input type="image" src="image/calender.png" alt="カレンダーへ"class="time_button">
      </div>
    </div>
  </header>



    <div class="writes_content">

      <div class="writes_content_top">
        <div class="icon_1">
          <a href="#" class="must-button">
            <img src="image/meal.png" alt="ごはん"></a>

          <a href="#" class="must-button">
            <img src="image/poop.png" alt="うんち"></a>

          <a href="#" class="must-button">
            <img src="image/pee.png" alt="おしっこ"></a>

          <a href="#" class="must-button">
            <img src="image/walk.png" alt="散歩"></a>
        </div>

        <div class="icon_2">
          <a href="#" class="must-button">
            <img src="image/vomit.png" alt="嘔吐"></a>
    
          <a href="#" class="must-button">
            <img src="image/shampoo.png" alt="シャンプー"></a>

          <a href="#" class="must-button">
            <img src="image/trimming.png" alt="トリミング"></a>

          <a href="#" class="must-button">
            <img src="image/medicine.png" alt="薬"></a>
        </div>
      </div>

      <form class="writes_content_bottom">
        <label class="writes_content_label">メモ
          <input type="text" class="memo"><br>
        </label>

        <label class="writes_content_label">日時
          <input type="datetime-local" class="date_time"><br>
        </label>

        <label class="writes_content_label">スケジュール
          <input type="text" class="schedule">
        </label>

        <input type="submit" value="ＯＫ！" class="send">
      </div>

    </div>
</body>

</html>