<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="writes.css">
    <title>fam のーと</title>
  </head>

<body>
  <header>
    <div class="header">
      <div class="title">記録</div>
      <div class="header_button">
        <%= link_to image_tag('time.png'), '/' %><!--記録へ-->
        <%= link_to image_tag('calender.png'), writes_path(@writes) %><!--カレンダーへ-->
      </div>
    </div>
  </header>



    <div class="writes_content">

      <div class="writes_content_top">
        <div class="icon_1">
          <input type="radio" name="must-button" value="1" id="meal" checked><label for="meal"></label>
          <input type="radio" name="must-button" value="2" id="poop" checked><label for="poop"></label>
          <input type="radio" name="must-button" value="3" id="pee" checked><label for="pee"></label>
          <input type="radio" name="must-button" value="4" id="walk" checked><label for="walk"></label>
        </div>

        <div class="icon_2">
          <input type="radio" name="must-button" value="5" id="vomit" checked><label for="vomit"></label>
          <input type="radio" name="must-button" value="6" id="shampoo" checked><label for="shampoo"></label>
          <input type="radio" name="must-button" value="7" id="trimming" checked><label for="trimming"></label>
          <input type="radio" name="must-button" value="8" id="medicine" checked><label for="medicine"></label>
        </div>
      </div>

      <form class="writes_content_bottom">
        <label class="writes_content_label">メモ
          <input type="text" class="memo"><br>
        </label>

        <label class="writes_content_label">日時
          <input type="datetime-local" class="date_time"><br>
        </label>

        <label class="writes_content_label">スケジュール
          <input type="text" class="schedule">
        </label>

        <input type="submit" value="ＯＫ！" class="send">
      </div>

    </div>
</body>

</html>