/* リセットCSS */
body {
  font-size: 14px;
  color: #333;
  margin: 0 auto;
}
h1,h2,h3,h4,h5,h6,p {
  padding: 10px 0;
  margin: 0;
}
ul,li {
  padding: 0;
  margin: 0;
}
  
  /* ヘッダー */

.header {
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;

}

.title {
  font-size: 40px;
  text-align: center;
  padding: 10px;
}
  

/* ユーザーページ */

.pet_content_up {
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 30px auto;
}

.pet_img {
  text-align: center;
}


.pet_content_down{
  width: 80%;
  height: 80%;
  display: flex;
  justify-content: center;
  margin: auto
}

.table{
  border-collapse: collapse;
  margin-bottom: 32px;
  width: 50%;
}
.table__col1{
  text-align: left;
  font-weight: bold;
  background: #fafafa;
  border-collapse: collapse;
  border: 1px solid #f5f5f5;
  width: 30%;
  padding: 8px;
  height: 10%;
}
.table__col2{
  text-align: left;
  border: 1px solid #f5f5f5;
  border-collapse: collapse;
  width: 70%;
  padding: 16px 8px;
}