/* -------writes ページ-------- */

/* ---heder--- */
.header1 {
  height: 55px;
  width: 30%;
  background-color: #FFFFFF;
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 5px solid #7a7878;
}

.title1 {
  font-size: 35px;
  color: #7a7878;
  text-align: center;
  padding: 10px;
  font-family: 'Aoboshi One', serif;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Potta One', cursive;
}


/* write-new */

.writes_content {

}

.writes_content_top {
  width: 30%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
}
 
.writes_content_bottom {
  width: 30%;
  padding: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: auto;
}

.writes_content_label {
  width: 100%;
  font-size: 20px;
  margin-bottom: 15px;
  display: block;
}

.icon_1 input[type=radio]+label:before,.icon_2 input[type=radio]+label:before{
  content: "";
  display: inline-block;
  background-size: contain;
  width: 60px;
  height: 60px;
}

.icon_1 input[type=radio][value="1"]+label:before{
	background-image: url(meal.png);
}
.icon_1 input[type=radio][value="2"]+label:before{
	background-image: url(poop.png);
}
.icon_1 input[type=radio][value="3"]+label:before{
	background-image: url(pee.png);
}
.icon_1 input[type=radio][value="4"]+label:before{
	background-image: url(walk.png);
}
.icon_2 input[type=radio][value="5"]+label:before{
	background-image: url(vomit.png);
}
.icon_2 input[type=radio][value="6"]+label:before{
	background-image: url(shampoo.png);
}
.icon_2 input[type=radio][value="7"]+label:before{
	background-image: url(trimming.png);
}
.icon_2 input[type=radio][value="8"]+label:before{
	background-image: url(medicine.png);
}
.icon_2 input[type=radio]:checked+label::before{
  border: 1px solid #7a7878;
  border-radius: 10px;
  box-sizing: border-box;
}
.icon_1 input[type=radio],.icon_2 input[type=radio]{
  display: none;
}


.memo, .date_time, .schedule {
  width: 100%;
  height: 80%;
  border: 2px solid #DEDEDE;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 10px;
  font-size: 20px;
}

.send {
  width: 50%;
  margin: 30px auto;
  padding: 10px;
  border: 1px solid white;
  border-radius: 8px;
  background-color: #b9e0bb;
  color:white;
  display: block;
  font-size: 25px;
}

/* writes-show */

.writes_day-main {
  height: calc(100vh - 65px);
  padding: 20px 0;
  background-color: #F2F2F3;
}

.writes-day_contents {
  width: 700px;
  margin: 0 auto;
}

.birthday-content {
  display: flex;
  justify-content: center;
  width: 500px;
  height: 100px;
  margin: 10px auto;
  font-size: large;
}

.schedule-content {
  display: flex;
  width: 500px;
  height: 100px;
  margin: 25px auto;
  font-size: large;
}

.star-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 100px;
  margin: 10px auto;
  font-size: large;
}


.icon {
  display: flex;
  margin: 20px auto 5px;
  width: 40px;
  height: 40px;
  color: #FFFFFF;
  border-radius: 5px 0 0 5px;
}

.write-schedule {
  width: 600px;
  height: 40px;
  padding: 10px 15px;
  background-color: #FFFFFF;
  border-radius: 0 5px 5px 0;
}

.write-input_date {
  display: flex;
  margin-left: 10px;
}

.write-memo{
  margin-left: 10px;
}
