/* -------writes ページ-------- */

/* ---heder--- */
.header1 {
  height: 55px;
  width: 20%;
  background-color: #FFFFFF;
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 5px solid #7a7878;
}

.title1 {
  font-size: 35px;
  color: #7a7878;
  text-align: center;
  padding: 10px;
  font-family: 'Aoboshi One', serif;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Potta One', cursive;
}


/* write-new */

.writes_content {
  height: calc(100vh - 65px);
  width: 50%;
  padding: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: auto;
}

.write-form {
  margin-bottom: 5px;
  width: 50%;
}

.writes_content_top {
  width: 30%;
  padding: 10px 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
}

/* write-new 

.icon_1 input[type=radio]+label:before,
.icon_2 input[type=radio]+label:before{
  content: "";
  display: inline-block;
  background-size: contain;
  width: 50px;
  height: 50px;
}

.icon_1 input[type=radio][value="1"]+label:before{
	background-image: url(meal.png);
}
.icon_1 input[type=radio][value="2"]+label:before{
	background-image: url(poop.png);
}
.icon_1 input[type=radio][value="3"]+label:before{
	background-image: url(pee.png);
}
.icon_1 input[type=radio][value="4"]+label:before{
	background-image: url(walk.png);
}
.icon_2 input[type=radio][value="5"]+label:before{
	background-image: url(vomit.png);
}
.icon_2 input[type=radio][value="6"]+label:before{
	background-image: url(shampoo.png);
}
.icon_2 input[type=radio][value="7"]+label:before{
	background-image: url(trimming.png);
}
.icon_2 input[type=radio][value="8"]+label:before{
	background-image: url(medicine.png);
}

.icon_1 input[type=radio]:checked+label::before,
.icon_2 input[type=radio]:checked+label::before{
  border: 1px solid #7a7878;
  border-radius: 10px;
  box-sizing: border-box;
} */

.writes_content_bottom {
  width: 80%;
  height: 80%;
  padding: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: auto;
}

.write-form input[type="text"],
.write-form input[type="datetime-local"] {
  border: 2px solid #7a7878;
  border-radius: 5%;
  width: 100%; /* 入力欄の幅を100%に設定 */
  box-sizing: border-box; /* ボーダーボックスモデルを適用して幅に枠線を含むようにする */
}

.write-form label {
  font-size: 15px;
  color: #7a7878;
  font-family: 'Aoboshi One', serif;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Potta One', cursive;
}

.write_form__btn {
  width: 120%;
  margin: 30px auto;
  padding: 10px;
  border: 1px solid white;
  border-radius: 5%;
  background-color: #b9e0bb;
  color:white;
  display: block;
  font-size: 20px;
}

/* ラジオボタンの非表示 
.icon_1 input[type=radio],.icon_2 input[type=radio]{
  display: none;
} */

/* writes-show */
.header2 {
  height: 55px;
  width: 25%;
  background-color: #FFFFFF;
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 5px solid #7a7878;
}

.title2 {
  font-size: 20px;
  font-weight: bold;
  color: #7a7878;
  text-align: center;
  padding: 10px;
  font-family: 'Aoboshi One', serif;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Potta One', cursive;

}

.header_button {
  display: flex;

}

.writes_day-main {
  height: calc(100vh - 65px);
  padding: 20px 0;
  background-color: #F2F2F3;
}

.writes-day_contents {
  width: 700px;
  margin: 0 auto;
}

.birthday-content {
  display: flex;
  justify-content: center;
  width: 500px;
  height: 100px;
  margin: 10px auto;
  font-size: large;
}

.schedule-content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  margin: 10px auto;
  font-size: large;
}

.star-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 100px;
  margin: 10px auto;
  padding: 10px 0;
  font-size: large;
  border-top: 3px solid #c7c0c0;
}


.icon {
  display: flex;
  margin: 40px auto 20px;
  width: 40px;
  height: 40px;
  color: #FFFFFF;
  border-radius: 5px 0 0 5px;
}

li {

  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px auto;


}


.write-schedule {
  width: 600px;
  height: 30%;
  padding: 10px 15px;
  background-color: #FFFFFF;
  border-radius: 0 5px 5px 0;
  font-size: 30px;
  font-family: 'Aoboshi One', serif;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Potta One', cursive;
}

.write-input_date {
  display: flex;
  margin-left: 10px;
}

.write-memo{
  margin-left: 10px;
}

p{
  display: flex;
  justify-content: center;
}

.calendar-heading {
  margin: 20px;
  font-size: 30px;
  display: flex;
  justify-content: center;
  font-family: 'Aoboshi One', serif;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Potta One', cursive;
}
